%h1 Listing versions

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @versions.each do |version|
      %tr
        %td= version.name
        %td= link_to 'Show', version_cards_path(version)
        %td= link_to 'Destroy', version, :method => :delete, :data => { :confirm => 'Are you sure?' }
